body {
	background: #E5E5E5;
	margin: 0;
    background-image: url('https://scontent.fsfs2-1.fna.fbcdn.net/v/t39.30808-6/p843x403/266869661_3032278460344285_2954157452508513689_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFEc1EIQjWkVkfhfJkGnC0G0IdDei67HqrQh0N6Lrseqhie_rZ_2KUunqXJzFJ-nT8PzawbkBN-tGwiSauYJsE-&_nc_ohc=n9bhgxnohWcAX-o2vWg&_nc_ht=scontent.fsfs2-1.fna&oh=e1089d2d6e0add826f317c8354244456&oe=61B85ED5');
    background-repeat: no-repeat;
    background-size: cover;
}


h1, h5, th, #up, #admin {
	font: 'Open Sans';
	font-weight: bold;
}

h1 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

a , a:hover , a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	font-weight: 600;  
}

.navbar{
    height: 65px;
}

/* SideBar*/

#sidebar.active {
    margin-left: -250px;
}

.wrapper {
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar {
	min-width: 280px;
	max-width: 280px;
	background: #120A29;
	color: #fff;
	transition: all 0.3s;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #120A29;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.2em;
	display: block;
}

#sidebar ul li a:hover {
	color: #ffff;
	background: #C4C4C4;	
}

#sidebar .logout {
	margin-top: 220px;
	padding: 10px;
	font-size: 1.2em;
}

.btn-up {
	color:rgb(119, 111, 111);
	border-color: black;
	background-color: unset !important;
    color: unset !important;
} 

#password{
    border-radius: 2px;
    background-color: #FFF;
    border-color: #7BB9FA;
    margin-bottom: 20px;
}

#content {
	width: 100%;
	min-height: 100vh;
	transition: all 0.3s;
}

.logo {
	width: 250px;
	height: 220px;
	margin-left:-15px;
	margin-top: -30px;
}

.logo img {
	width: 100%;
	
}

.wrap {
	height: 50%;
    margin: auto;
    margin-top: 100px;
    width: 55%;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(255, 255, 255, 95%);
    position: relative;
    text-align: center;
}

.box {
	height: 15%;
    margin: auto;
    margin-left:15px;
    top: -20px;
    width: 30%;
	background-color: #25438C;
    z-index: 2;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    
}

div.form {
    display: block;
}

form {
    display: inline-block;
    width:300px;
    margin:50px;
    margin-left: 150px;
    text-align: left;
}


input { 
	display: inline;
	float: left;
	margin-right: 10px;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}










